{{ template "header" . }}
    <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12 medium-10 medium-offset-1 columns'>
            <h2><em>About</em></h2>
            <p><img alt='I Miss Judo' height='427' src='http://farm4.staticflickr.com/3162/3098073926_5e963bd790_z.jpg' width='640' /></p>
            <p>I’m a writer, programmer, and occasional designer. I’ve done a few things I’m happy about.</p>
            <p>I started <a href="http://www.novelr.com">Novelr</a> in 2006, a blog on digital publishing. In its 6 year run, Novelr has been quoted by The Guardian, Daring Fireball, Business Insider and TechMeme.</p>
            <p>In 2010-2011 I co-founded and ran <a href="http://pandamian.com">Pandamian</a>, a digital publishing startup.</p>
            <p>I spoke twice at Books in Browsers, a private conference for book technologists organized by the Internet Archive, in San Francisco. A transcript of the first talk may be found <a href="http://www.novelr.com/2010/10/24/pandamian-a-publishing-support-layer">here</a>; a video of the second is available <a href="http://www.youtube.com/watch?v=mfsLORO7OAU">on Youtube</a>.</p>
            <p>In late 2011 I contributed <a href="http://book.pressbooks.com/chapter/web-literature-eli-james">a chapter</a> to <a href="http://book.pressbooks.com/">Book: A Futurist’s Manifesto</a>, a collection of essays on the future of publishing released by O’Reilly Media and Pressbooks in 2012. I’m rather happy with it: I consider it one of my better essays.</p>
            <p>I try as much as possible to <a href="https://github.com/ejamesc">write open source software</a>.</p>
            <p>From mid-2010 - late-2012 I served as President of the <a href="http://nushackers.org/">NUS Hackers</a>. I started <a href="http://nushackers.org/fridayhacks/">Friday Hacks</a> and ran the first Hack&amp;Roll Hackathon. Most of my time during that period was spent <a href="/nushackers/">growing</a> the community of hackers and builders in NUS. This mostly meant setting up partnerships, organizing events, and writing software (or processes) to make the club more scalable.</p>
            <p>In a previous life, I played Judo for my state <em>(2008 National Championships; Sarawak SUKMA shadow team)</em>. I also debated in school. Both sports have shaped the way I see the world.</p>
            <p>I like Python, green tea and cats. I think vanilla ice cream is better than chocolate ice cream, and I will fight you on that.</p>
            <p>I’m always interested in meeting people who are building cool things. Email me at cedric at elijames.org</p>
          </div>
        </div>
{{ template "footer" . }}
    </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
