{{ template "header" . }}
  <div class='row'><!--outer-row-->
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class='row'>
        <div class='small-12 columns'>
          <h2><em>Design</em></h2>
        </div>
        <div class='small-12 columns'>
          <h3>Hack&Roll</h3>
          <p>Various t-shirts and posters for Hack&Roll, the student hackathon we started at NUS Hackers (and now the largest in Singapore).</p>
        </div>
      <div class='row'>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/hackroll_red.png' alt='Hack&Roll Red Poster' /> 
        </div>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/hackroll_green.png' alt='Hack&Roll Green Poster' /> 
        </div>
      </div>
      <div class='row'>
        <div class='medium-6 small-12 columns design end'>
          <img src='/static/images/hackroll_yellow.png' alt='Hack&Roll Yellow Poster' /> 
        </div>
      </div>
      <div class='row'>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/hackroll_shirtdesign.png' alt='Hack&Roll Shirt Design' /> 
        </div>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/hackroll_shirtdesign2.png' alt='Hack&Roll Shirt Design Alt' /> 
        </div>
        <div class='small-12 columns design'>
          <img src='/static/images/hacknroll2014poster.jpg' alt='Hack&Roll 2014 Pre-Poster' /> 
        </div>
      </div>
        <div class='small-12 columns'>
          <h3>Richard Stallman in Singapore</h3>
          <p>Posters for a series of talks rms gave at NUS in 2012. Because this <em>was</em> rms, I had to do <em>everything</em> with free software: i.e. GIMP and the Ubuntu font family. My takeaway: never again.</p>
        </div>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/stallman_blue_poster.png' alt='Richard Stallman in Singapore Blue Poster' /> 
        </div>
        <div class='medium-6 small-12 columns design'>
          <img src='/static/images/stallman_red_poster.png' alt='Richard Stallman in Singapore Red Poster' /> 
        </div>
      </div>
{{ template "otherwork" }} 
{{ template "footer" . }}
  </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
