{{ template "header" . }}
    <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12 columns'>
            <h2 class='lede'>Hi, I'm Cedric (or Eli).</h2> 
            <p>I'm currently a Product Manager for <a href="http://floatingcube.com">Floating Cube Studios</a>. Previously I did Novelr, Pandamian and the <a href="http://nushackers.org">NUS Hackers</a>. I'm based out of Singapore and Saigon.</p>
            
            <p>I write an essay a week loosely centered around building a technology company in Asia.</p>
          </div>
          <hr/>
        </div>

    <div class='row'>
      <div class="small-12 columns heading-div">
        <h2 class='heading'>essays</h2> <span class="rss"><a href="/feed.rss">&nbsp;&nbsp;(rss)</a></span>
      </div>
    </div>
      {{ with $posts := subslice .Posts 0 6 }}
        {{ range $i, $p := $posts }}
          {{ if is_even $i }}<div class='row'>{{ end }}
          <div class='small-12 medium-6 columns essay'>
            <h2><a href="{{ .Link }}">{{ .Title }}</a></h2>
            <p>{{ .Short | html }}</p>
          </div>
          {{ if not (is_even $i) }}</div>{{ end }}
        {{ end }}
      {{ end }} 
      <div class='row'>
       <div class='small-12 columns text-right'>
        <p><a href='/essays' class="more-essays-link">More essays &rarr;</a></p>
      </div>
    </div>
    <hr/>
    <div class='row'>
      <div class='small-12 columns heading-div'>
        <h2 class='heading'>work</h2>
        <a name="work"></a>
      </div>
      <div class='small-12 medium-6 columns'>
        <h2 class='copylink'><a href="/code">code &raquo;</a></h2>
        <h2 class='copylink blue'><a href="/design">design &raquo;</a></h2>
      </div>
      <div class='small-12 medium-6 columns'>
        <h2 class='copylink green'><a href="/photos">photos &raquo;</a></h2>
        <h2 class='copylink red'><a href="/pranks">pranks &raquo;</a></h2>
      </div>
    </div>
    <hr/>
    <div class='row'>
      <div class='small-12 columns heading-div'>
        <h2 class='heading'>contact</h2>
        <a name="contact"></a>
      </div>
      <div class='small-12 columns'>
        <p>It's probably best to email me if you'd like to get in touch. (The email address below requires Javascript for you to see it):</p>
        <div class='panel callout text-center'>  <span class='email-link red'><script language="javascript">
<!--
    var part1 = "cedric";
                         var part2 = "elijames.org";
                         var part3 = "cedric at elijames.org";
                         document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
                         document.write(part3 + '</a>');
                         // -->
          </script></span>
        </div>
        <p>You may also find me at:</p>
        <p class='text-center social-links'><a href='https://twitter.com/ejames_c'>Twitter</a> &middot; <a href='https://github.com/ejamesc'>Github</a> &middot; <a href='http://my.linkedin.com/in/elijames'>LinkedIn</a> &middot; <a href='https://pinboard.in/u:shadowsun7'>Pinboard</a> &middot; <a href='http://news.ycombinator.com/user?id=shadowsun7'>Hacker News</a> &middot; <a href='/cal'>Calendar</a> 
        </p>
      </div>
    </div>
{{ template "footer" . }}
