{{ template "header" . }}
  <div class='row'><!--outer-row-->
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class='row'>
        <div class='small-12 columns'>
          <h2><em>NUS Hackers - The Road Ahead</em></h2>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 columns'>
<p>Organisations are strange creatures. They have inertia. Like large comets, or fat sunbathers, it is difficult to change an organisation once it has begun on a set path.</p>

<p>We're getting older, and bigger, and our people have changed. I don't know whether I'm right about these things, but I do think some drift has occurred. At any rate, many of our old problems - present since the first day of NUS Hackers - have stuck around.</p>

<p>I want to examine some of these things here. What the NUS Hackers should do about them I'll leave to you.</p>

<h3>Where are we going, and why?</h3>

<p>Our mission is deceptively simple to articulate: 'to spread hacker culture in NUS.' But the motivating reasons behind that mission ("<em>why</em> should we spread a hacker culture here?") are not that simple.</p>

<p>Historically, many great things were created in the context of a hacker culture. We can enumerate them quickly: Unix, Linux and Facebook were created by tinkerers; Firefox, Red Hat, Wordpress, and the OLPC project were started with a community of volunteers familiar with the ideals and culture of open source. In 2010, it seemed like a good idea to attempt to create this culture in NUS.</p>

<p>The simplest reason to spread hacker culture isn't a very controversial one: hacking produces better programmers. Much in the same way that artists who paint a lot become better at it, and cellists who practice ridiculous amounts become Yo-Yo Ma, hackers who are motivated to hack because of their surrounding culture would invariably get better.</p>

<p>But this isn't the only reason to promote a hacker culture, and I think we've forgotten this a little. After all, there are other ways of getting better at programming: undertaking research in university, or practicing for competitive programming. If getting better at programming were the only reason, then there would not be much to be said for hacking. We might as well scrap our mission altogether and create more preparatory classes for people to become interns.</p>

<p>But that would be a huge loss. This seems like an odd thing to say. Would not more NUS students becoming interns be a good thing? Wouldn't it mean more employment opportunities for us? Would it not signal to the world that NUS students are good enough to be noticed by these large companies, that they have arrived and are able to compete with the Ivy League universities? (I cringed when I wrote that - at how small-minded it was - but some variant of the above thought has passed through our heads, I'm sure).</p>

<p>My response to this is that it depends on your end goal. If your end goal is to raise the standard of all the students such that we become, collectively, a good feeder school for prestigious companies, then yes: we should aim simply to help students get better at programming. But if your end goal is to become a <em>leader</em> - to have Singapore become the place where people build things that will change the world - the way Stallman did, when he started GNU, or when Linus did, when he uploaded his kernel to a donated FTP server, or when Blake Ross did, when he decided to fork Mozilla and start Firefox at age 16, then you need to reach a little bit further. You need hackers, and you need hacking to catch on in Singapore.</p>

<h3>A culture of creating value</h3>

<p>I've never tried to articulate the secondary benefits of hacking before, but I'll try now: hacking is important because it puts <em>creating value at the front and centre</em>.</p>

<p>The importance of this cannot be overstated. For most of our lives we are put in an education system where we are not taught that creating value is important. Instead we are taught that grades - a proxy for creating value - is what matters.</p>

<p>But we know that this isn't true. A few years after graduation people quickly forget which university you go to and what GPA you got (unless you keep reminding them of it) and they evaluate you instead on your contributions to the world. With some notable exceptions [1], the amount of wealth, influence, or importance accorded to you is usually tied to the amount of value you can create using your skills. [2]</p>

<p>In our field, what it boils down to is essentially this: technology has huge transformative power. You don't learn to wield that power by being an intern. You learn to wield it by building things that are used by people. You also learn it by tinkering at the margins of existing technology - often in ways that have not been tried before, or have been overlooked because they are new and weird. And it is precisely because hacker culture rewards you with respect proportional to the value of the stuff you create (with extra points for the elegance with which you use to achieve it), that a hacker community is an incredibly potent environment with which to build these kinds of skills.</p>

<p>How this looks like, on a practical level, is: "Gee, I wish there was a way to be keep track of when websites were updated. What possible solutions are there?" and then googling around, and finding the RSS working group, and chiming in on their mailing lists: "Do you guys need help?" and, after awhile: "this seems like a meaningful little problem to solve, I'll spend some of my time solving it."</p>

<p>I'm describing, of course, how Aaron Swartz got started. Aaron hopped from problem to problem, hacking his way through solutions, and moving on whenever he thought he'd made enough of an impact. When he died, he was working on technology that would make government lawmaking more efficient.</p>

<p>I keep bringing Aaron Swartz up because I was particularly moved by him, as a teenager: I came into ebooks through similar circumstances ("Wouldn't it be cool if there existed a canonical web version of every book under the sun?") To me, Aaron represented the power of wielding technology as a tool for change. And when I found his group - the community of digital book technologists - I felt inspired to jump in and build things. How could I not, when I saw that the ones who were respected were the ones building things for important problems?</p>

<p>I thought we could try doing for others what his example did for me.</p>

<h3>Spreading hacker culture to NUS</h3>

<p>Have we succeeded in spreading hacker culture to NUS? I don't think we have.</p>

<p>Don't get me wrong: I do think we've managed <em>some</em> success. We now have a gathering of like-minded, passionate people. We run events that have given some gravitas to hacking in NUS. And we have street cred: recruiters, professors, VCs and startups benefit from our ability to pull technically good people into our orbit.</p>

<p>But we haven't done much to spread the idea of hacking for good. And I'll posit that the number of people in NUS who are able to build things that other people want is still really low.</p>

<p>Why is this so? What have we done badly?</p>

<p>One thing we've done badly, I think, is that we've been really bad at selling our message. We run events but we don't explicitly say at the end of them what we're about. So people don't know that we have a mission. Worse, it's not always clear in coreteam that our events tie back to our mission. This is normal, because it's easy to forget during execution, but if we in coreteam don't think about how day-to-day events link to the broader picture, how can our audience?</p>

<p>Secondly, we haven't done many activities to show people that it's cool to build things other people want to use. Project Ouroboros is supposed to help with that, but I think it's only one half the solution.</p>

<p>Why is this so? Our long term goals are achieved when we have a community of people who reward hacking with respect. If we can't build that community, we can't spread hacker culture. Unfortunately, we don't even <em>have</em> a community.</p>

<p>This is, I think, the damning problem of NUS Hackers. Many other problems stem from it. For instance:</p>

<ul>
<li>Every year we have problems recruiting. This is because there is no organic way for people to get involved and gradually gain more responsibilities. Like open source, there should be a spectrum of involvement before coreteam.</li>
<li>We have problems selling our message because we have no community. I'd wager that even if we did a better job of selling our message, we won't get much uptake. We have an <em>audience</em>, but an audience will not be commited to our cause.</li>
<li>We have problems picking a president because of point 1, above.</li>
<li>People don't feel invested in the greater community. They don't feel like they're a part of something.</li>
</ul>


<p>In the past, this wasn't as big a problem because we were still figuring out how to bring people together. But we've since figured such things out. And we've reached some scale, which means we probably need to change the way we do things.</p>

<p>The challenge is this: how can the NUS Hackers change as an organisation so that we become more inclusive? How can we give people a stake in how the club is run? How can we get people involved without gathering them, immediately, into coreteam?</p>

<p>These changes won't be easy to make, and it'll require some disciplined leadership. But not knowing is fine. I didn't know the answers to many of our problems when I first started building this organisation, and it was fun precisely because I was figuring things out as we went along.</p>

<p>Coreteam is full of smart people. I think you can figure it out as we go along. The key thing is to start changing, and to start changing now.</p>

<h3>Footnotes</h3>

<p>[1] By notable exceptions here I mean banking and dictatorships.</p>

<p>[2] Engineers and doctors are accorded some level of respect because they create value; managers more so because they accelerate the efforts of the engineers or doctors they manage. CEOs get ridiculous pay packages, the logic goes, because they accelerate whole organisations of people.</p>

<p>Some people use the amount of money you make as a proxy for determining how much value you create for society. But this is merely that - a proxy. For example, the chief editor of a national newspaper may make relatively less money than a CEO, and yet still create enormous value whenever he starts a public debate on an important policy, or when he shines a spotlight (through editorial voice) on an important public issue. Sometimes value is captured in the form of monetary wealth; in this case it is captured in the form of influence: the editor gets invited to a lot of dinner parties.</p>

{{ template "footer" . }}
  </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
