{{ template "header" . }} 
   <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12'>
            <h2><em>Photographs</em></h2>
            <p>I enjoy street photography. All photos here are shot with either a Canon 1000D dSLR, or an Olympus 35RC rangefinder.</p>
            <p><a href="http://www.flickr.com/photos/dienasty/4484099568/" title="Flowers by shadowsun7, on Flickr"><img src="http://farm5.staticflickr.com/4051/4484099568_c6910eec72_b.jpg" width="1024" height="679" alt="Flowers"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4483443869/" title="SBS Bus, Singapore 2010 by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2782/4483443869_0a60553782_b.jpg" width="1024" height="679" alt="SBS Bus, Singapore 2010"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4534321042/" title="On The Way To Church by shadowsun7, on Flickr"><img src="http://farm5.staticflickr.com/4032/4534321042_17cf0f5d13_b.jpg" width="1024" height="679" alt="On The Way To Church"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4484698638/" title="Massage by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2801/4484698638_13867a7480_b.jpg" width="1024" height="679" alt="Massage"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4534322928/" title="Panda Eyes! by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2783/4534322928_a94908a3b0_b.jpg" width="1024" height="678" alt="Panda Eyes!"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4483441971/" title="Skylight by shadowsun7, on Flickr"><img src="http://farm5.staticflickr.com/4030/4483441971_6b40559086_b.jpg" width="1024" height="679" alt="Skylight"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4483454283/" title="Dogs by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2709/4483454283_7c1555c35d_b.jpg" width="1024" height="679" alt="Dogs"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4862304868/" title="Bench by shadowsun7, on Flickr"><img src="http://farm5.staticflickr.com/4100/4862304868_04d6c315cd_b.jpg" width="1024" height="656" alt="Bench"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4533687901/" title="(red) by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2800/4533687901_516423872b_b.jpg" width="1024" height="679" alt="(red)"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/5117802260/" title="Untitled by shadowsun7, on Flickr"><img src="http://farm5.staticflickr.com/4152/5117802260_811368915e_b.jpg" width="1024" height="768" alt="Untitled"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/3703799525/" title="Boy by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2506/3703799525_2038f188f6_b.jpg" width="1024" height="681" alt="Boy"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/3097296613/" title="Shell Collectors by shadowsun7, on Flickr"><img src="http://farm4.staticflickr.com/3249/3097296613_9ec0464309_b.jpg" width="1024" height="683" alt="Shell Collectors"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/4244391545/" title="The Kampung Roti Place by shadowsun7, on Flickr"><img src="http://farm3.staticflickr.com/2800/4244391545_d1a14dfeb4_b.jpg" width="1024" height="682" alt="The Kampung Roti Place"></a></p>
            <p><a href="http://www.flickr.com/photos/dienasty/3709306893/" title="Home by shadowsun7, on Flickr"><img src="http://farm4.staticflickr.com/3433/3709306893_8b6ea3c6f1_b.jpg" width="1024" height="683" alt="Home"></a><br/></p>
            <p><a href="http://www.flickr.com/photos/dienasty/3709325325/" title="Two Thomians. Dad. by shadowsun7, on Flickr"><img src="http://farm4.staticflickr.com/3421/3709325325_9b081483cf_b.jpg" width="1024" height="682" alt="Two Thomians. Dad."></a></p>
          </div>
        </div>
{{ template "otherwork" }}
{{ template "footer" }}
