{{ template "header" . }}
  <div class='row'><!--outer-row-->
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class='row'>
        <div class='small-12 columns'>
          <h2><em>Pranks</em></h2>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 columns'>
          <p>A collection of good memories. (This won't make sense to anyone but alumni of Tembusu College, NUS. My thanks to Shamraz, Adhiraj, Medha, Frank, Haena and others unnamed who so gamely supported us.)</p>
        </div>
        <div class='small-12 medium-6 columns design'>
          <img src='/static/images/prank_poster.jpg' alt='Prank Poster' /> 
        </div>
        <div class='small-12 medium-6 columns design'>
          <img src='/static/images/stump.jpg' alt='Sword in Tree Stump' /> 
        </div>
      </div>
      <div class='row'>
        <div class='small-12 columns'>
          <p>Assets from the Tembusu Elevator Prank, 1st April 2012. Favourite memory: getting the security guards in on the prank.</p>
        </div>
        <div class='small-12 medium-6 columns design'>
          <img src='/static/images/hitachi.png' alt='Voice control at Tembusu' /> 
        </div>
        <div class='small-12 medium-6 columns design'>
          <img src='/static/images/hitachi_dark.png' alt='Mind control at Tembusu' /> 
        </div>
      </div>
{{ template "otherwork" }}
{{ template "footer" . }}
  </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
