<!DOCTYPE html>
<html>
  <head>
  <title>goblawg &middot; {{ .Name }}</title>
    <link href='/static/css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='/static/css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='/static/css/adminstyle.css' type='text/css' rel='stylesheet' />

    <script src="/static/js/vendor/modernizr.js"></script>
    <script async type="text/javascript" src="//use.typekit.net/nlh5hzh.js" onload="try{Typekit.load();}catch(e){}"></script>
    <script type='text/javascript' src="/static/js/vendor/jquery.js"></script>
    <script type='text/javascript' src="/static/js/foundation.min.js"></script>
  </head>
  <body>
    {{ yield }}
    <script type='text/javascript'>
      $(document).foundation(); 
    </script>
  </body>
</html>



