{{ template "essay-header" . }}
    <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12 medium-10 medium-offset-1 columns'>
            <h2><em>{{ .Title }}</em></h2>
            <p><span class='essay-date'>{{ .Time | fdate }}</span></p>
            {{ .Body | md }}
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns subscribe-div'>
            <h2 class='heading'>Get updates</h2>
            <p>I write an essay a week on topics loosely connected to building a technology company in Asia. You may subscribe below for essay updates:</p>
            <div class="row collapse">
              <form action="https://tinyletter.com/cedric_chin" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cedric_chin', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
              <div class="small-6 medium-6 medium-offset-2 columns">
                <!--input type="text" placeholder="Your Email Address"-->
                  <input type="text" name="email" id="tlemail" placeholder="Your Email Address" /><input type="hidden" value="1" name="embed"/>              
                </div>
              <div class="small-2 end columns">
                <input type="submit" class="button blue-background postfix" value="Subscribe" />
              </div>
              </form>
            </div>
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns heading-div'>
            <h2 class='heading'>Other essays</h2>
          </div>
        </div>
        <div class='row'>
          {{ with $posts := random_posts .Posts .Post.Link 3 }}
            {{ range $posts }}
              <div class='small-12 medium-4 columns essay'>
                <h2><a href="/{{ .Link }}">{{ .Title }}</a></h2>
                <p>{{ .Short }}</p>
              </div>
            {{ end }}
          {{ end }}
        </div>
{{ template "footer" }}
  </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
