{{ template "header" . }}
    <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12 medium-10 medium-offset-1 columns'>
            <h2><em>{{ .Title }}</em></h2>
            <p><span class='essay-date'>{{ .Time | fdate }}</span></p>
            {{ .Body | md }}
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns subscribe-div'>
            <h2 class='heading'>Get updates</h2>
            <p>I write an essay a week on topics loosely connected to building a technology company in Asia. You may subscribe below for essay updates:</p>
            <div class="row collapse">
              <div class="small-6 medium-6 medium-offset-2 columns">
                <input type="text" placeholder="Your Email Address">
              </div>
              <div class="small-2 end columns">
                <a href="#" class="button blue-background postfix">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns heading-div'>
            <h2 class='heading'>Other essays</h2>
          </div>
        </div>
        <div class='row'>
          {{ with $posts := subslice .Posts 0 3 }}
            {{ range $posts }}
              <div class='small-12 medium-4 columns essay'>
                <h2><a href="/{{ .Link }}">{{ .Title }}</a></h2>
                <p>{{ .Short }}</p>
              </div>
            {{ end }}
          {{ end }}
        </div>
{{ template "footer" }}
  </div> <!-- medium-10-->
  </div> <!--outer row-->
  </body>
</html>
