{{ define "otherwork" }}
<hr/>
      <div class='row'>
      <div class='small-12 columns heading-div'>
        <h2 class='heading'>Other work</h2>
      </div>
      <div class='small-12 medium-6 columns'>
        <h2 class='copylink'><a href="/code">code &raquo;</a></h2>
        <h2 class='copylink blue'><a href="/design">design &raquo;</a></h2>
      </div>
      <div class='small-12 medium-6 columns'>
        <h2 class='copylink green'><a href="/photos">photos &raquo;</a></h2>
        <h2 class='copylink red'><a href="/pranks">pranks &raquo;</a></h2>
      </div>
    </div>
{{ end }}
